In [ ]:
#%run NB01-Load.ipynb

In [ ]:
import collections
import gc
import IPython
import lightgbm as lgb
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.graph_objs as go
import plotly.plotly as py
import random 
#import seaborn as sb
import seaborn as sns
#import seaborn as snss
import scipy
import scipy as sp
import sklearn
import statsmodels.api as sm
import statsmodels.formula.api as smf
import sys
import warnings

from datetime import date
from IPython.display import HTML
from lightgbm import LGBMClassifier
from lightgbm import plot_importance
from pandas import DataFrame
from pandas import Series
from patsy import dmatrices
from plotly import tools
from plotly.offline import init_notebook_mode
from plotly.offline import iplot
from pylab import rcParams
from sklearn import datasets
from sklearn import model_selection
from sklearn import metrics
from sklearn import preprocessing
#from sklearn.cross_validation import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from xgboost import XGBClassifier
from wordcloud import WordCloud

init_notebook_mode(connected=True)
plt.rcParams.update({'figure.max_open_warning': 200})
# Suppress warnings
warnings.filterwarnings("ignore")

# In a notebook environment, display the plots inline
%matplotlib inline
# Set some parameters to apply to all plots. These can be overridden in each plot if desired
# Plot size to 14" x 7"
matplotlib.rc('figure', figsize = (14, 7))
# Font size to 14
matplotlib.rc('font', size = 14)
# Do not display top and right frame lines
matplotlib.rc('axes.spines', top = False, right = False)
# Remove grid lines
matplotlib.rc('axes', grid = False)
# Set backgound color to white
matplotlib.rc('axes', facecolor = 'white')

np.set_printoptions(threshold=np.nan)
np.set_printoptions(suppress=True, formatter={'float_kind':'{:f}'.format})

#import C:/Development/kaggle--home-credit-default-risk/rand_jitter
#import C:/Development/kaggle--home-credit-default-risk/draw_feature_distribution
import sys
# sys.path.insert(0, 'C:/Development/kaggle--home-credit-default-risk/') # ~= sys.path.prepend
sys.path.append('C:/Development/kaggle--home-credit-default-risk/')
# import rand_jitter
# import draw_feature_distribution
##from rand_jitter import * # NOTE: added directly to draw_feature_distribution_v2
# from draw_feature_distribution import *
# from draw_feature_distribution_v1 import *
from draw_feature_distribution_v2 import *

# C:\Users\jbalcomb\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning:
# The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.

In [2]:
print("Python version: {}".format(sys.version))
print("pandas version: {}".format(pd.__version__))
print("NumPy version: {}".format(np.__version__))
print("SciPy version: {}".format(sp.__version__))
print("scikit-learn version: {}".format(sklearn.__version__))
print("matplotlib version: {}".format(matplotlib.__version__))
print("IPython version: {}".format(IPython.__version__))

Python version: 3.6.3 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]
pandas version: 0.20.3
NumPy version: 1.14.3
SciPy version: 1.1.0
scikit-learn version: 0.19.1
matplotlib version: 2.1.0
IPython version: 6.1.0

In [3]:
data_file_path = 'C:/Development/kaggle--home-credit-default-risk/data/'
data_file_path

'C:/Development/kaggle--home-credit-default-risk/data/'

In [4]:
data_file_name = 'application_train.csv'
data_file_name

'application_train.csv'

In [5]:
#application_train = pd.read_table(data_file_path + 'application_train.csv', sep=',')
# df = pd.read_table(data_file_path + 'application_train.csv', sep=',')
df = pd.read_table(data_file_path + data_file_name, sep=',')

In [6]:
# Master Data-Frame
#dfm = df

In [7]:
# len(application_train.index)
# application_train.shape[0]
# len(application_train.columns)
# application_train.shape[1]
df_row_count, df_column_count = df.shape
df_row_count, df_column_count

(307511, 122)

In [8]:
df_values_count_total = df_row_count * df_column_count
df_values_count_total

37516342

In [9]:
df_column_names = df.columns.tolist()
df_column_names

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [10]:
df_column_dtypes = df.dtypes
df_column_dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [11]:
df_column_dtype_groups = df.columns.to_series().groupby(df.dtypes).groups
df_column_dtype_groups

{dtype('int64'): Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
        'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
        'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT',
        'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
        'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
        'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
        'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2',
        'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
        'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
        'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
        'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
        'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
        'FLAG_DOCUMENT_21'],
       dtype='object'),
 dtype('float64'): Index(['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
        'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'OWN_CAR_AGE',
        'CNT_FAM_MEMBERS', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
        'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
        'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
        'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
        'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
        'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
        'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE',
        'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
        'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
        'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
        'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
        'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
        'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
        'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
        'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
        'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
        'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
        'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
        'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
        'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
       dtype='object'),
 dtype('O'): Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
        'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
        'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
        'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
        'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
       dtype='object')}

In [12]:
df_missing_values_flag = df.isnull().values.any()
df_missing_values_flag

True

In [13]:
df_missing_values_count_total = df.isnull().sum().sum()
df_missing_values_count_total

9152465

In [14]:
df_missing_values_percentage_total = df_missing_values_count_total / df_values_count_total
df_missing_values_percentage_total

0.24395941907129431

In [15]:
df_columns_row_count = {column_name:df_row_count for column_name in df_column_names}
df_columns_row_count

{'AMT_ANNUITY': 307511,
 'AMT_CREDIT': 307511,
 'AMT_GOODS_PRICE': 307511,
 'AMT_INCOME_TOTAL': 307511,
 'AMT_REQ_CREDIT_BUREAU_DAY': 307511,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 307511,
 'AMT_REQ_CREDIT_BUREAU_MON': 307511,
 'AMT_REQ_CREDIT_BUREAU_QRT': 307511,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 307511,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 307511,
 'APARTMENTS_AVG': 307511,
 'APARTMENTS_MEDI': 307511,
 'APARTMENTS_MODE': 307511,
 'BASEMENTAREA_AVG': 307511,
 'BASEMENTAREA_MEDI': 307511,
 'BASEMENTAREA_MODE': 307511,
 'CNT_CHILDREN': 307511,
 'CNT_FAM_MEMBERS': 307511,
 'CODE_GENDER': 307511,
 'COMMONAREA_AVG': 307511,
 'COMMONAREA_MEDI': 307511,
 'COMMONAREA_MODE': 307511,
 'DAYS_BIRTH': 307511,
 'DAYS_EMPLOYED': 307511,
 'DAYS_ID_PUBLISH': 307511,
 'DAYS_LAST_PHONE_CHANGE': 307511,
 'DAYS_REGISTRATION': 307511,
 'DEF_30_CNT_SOCIAL_CIRCLE': 307511,
 'DEF_60_CNT_SOCIAL_CIRCLE': 307511,
 'ELEVATORS_AVG': 307511,
 'ELEVATORS_MEDI': 307511,
 'ELEVATORS_MODE': 307511,
 'EMERGENCYSTATE_MODE': 307511,
 'ENTRANCES_AVG': 307511,
 'ENTRANCES_MEDI': 307511,
 'ENTRANCES_MODE': 307511,
 'EXT_SOURCE_1': 307511,
 'EXT_SOURCE_2': 307511,
 'EXT_SOURCE_3': 307511,
 'FLAG_CONT_MOBILE': 307511,
 'FLAG_DOCUMENT_10': 307511,
 'FLAG_DOCUMENT_11': 307511,
 'FLAG_DOCUMENT_12': 307511,
 'FLAG_DOCUMENT_13': 307511,
 'FLAG_DOCUMENT_14': 307511,
 'FLAG_DOCUMENT_15': 307511,
 'FLAG_DOCUMENT_16': 307511,
 'FLAG_DOCUMENT_17': 307511,
 'FLAG_DOCUMENT_18': 307511,
 'FLAG_DOCUMENT_19': 307511,
 'FLAG_DOCUMENT_2': 307511,
 'FLAG_DOCUMENT_20': 307511,
 'FLAG_DOCUMENT_21': 307511,
 'FLAG_DOCUMENT_3': 307511,
 'FLAG_DOCUMENT_4': 307511,
 'FLAG_DOCUMENT_5': 307511,
 'FLAG_DOCUMENT_6': 307511,
 'FLAG_DOCUMENT_7': 307511,
 'FLAG_DOCUMENT_8': 307511,
 'FLAG_DOCUMENT_9': 307511,
 'FLAG_EMAIL': 307511,
 'FLAG_EMP_PHONE': 307511,
 'FLAG_MOBIL': 307511,
 'FLAG_OWN_CAR': 307511,
 'FLAG_OWN_REALTY': 307511,
 'FLAG_PHONE': 307511,
 'FLAG_WORK_PHONE': 307511,
 'FLOORSMAX_AVG': 307511,
 'FLOORSMAX_MEDI': 307511,
 'FLOORSMAX_MODE': 307511,
 'FLOORSMIN_AVG': 307511,
 'FLOORSMIN_MEDI': 307511,
 'FLOORSMIN_MODE': 307511,
 'FONDKAPREMONT_MODE': 307511,
 'HOUR_APPR_PROCESS_START': 307511,
 'HOUSETYPE_MODE': 307511,
 'LANDAREA_AVG': 307511,
 'LANDAREA_MEDI': 307511,
 'LANDAREA_MODE': 307511,
 'LIVE_CITY_NOT_WORK_CITY': 307511,
 'LIVE_REGION_NOT_WORK_REGION': 307511,
 'LIVINGAPARTMENTS_AVG': 307511,
 'LIVINGAPARTMENTS_MEDI': 307511,
 'LIVINGAPARTMENTS_MODE': 307511,
 'LIVINGAREA_AVG': 307511,
 'LIVINGAREA_MEDI': 307511,
 'LIVINGAREA_MODE': 307511,
 'NAME_CONTRACT_TYPE': 307511,
 'NAME_EDUCATION_TYPE': 307511,
 'NAME_FAMILY_STATUS': 307511,
 'NAME_HOUSING_TYPE': 307511,
 'NAME_INCOME_TYPE': 307511,
 'NAME_TYPE_SUITE': 307511,
 'NONLIVINGAPARTMENTS_AVG': 307511,
 'NONLIVINGAPARTMENTS_MEDI': 307511,
 'NONLIVINGAPARTMENTS_MODE': 307511,
 'NONLIVINGAREA_AVG': 307511,
 'NONLIVINGAREA_MEDI': 307511,
 'NONLIVINGAREA_MODE': 307511,
 'OBS_30_CNT_SOCIAL_CIRCLE': 307511,
 'OBS_60_CNT_SOCIAL_CIRCLE': 307511,
 'OCCUPATION_TYPE': 307511,
 'ORGANIZATION_TYPE': 307511,
 'OWN_CAR_AGE': 307511,
 'REGION_POPULATION_RELATIVE': 307511,
 'REGION_RATING_CLIENT': 307511,
 'REGION_RATING_CLIENT_W_CITY': 307511,
 'REG_CITY_NOT_LIVE_CITY': 307511,
 'REG_CITY_NOT_WORK_CITY': 307511,
 'REG_REGION_NOT_LIVE_REGION': 307511,
 'REG_REGION_NOT_WORK_REGION': 307511,
 'SK_ID_CURR': 307511,
 'TARGET': 307511,
 'TOTALAREA_MODE': 307511,
 'WALLSMATERIAL_MODE': 307511,
 'WEEKDAY_APPR_PROCESS_START': 307511,
 'YEARS_BEGINEXPLUATATION_AVG': 307511,
 'YEARS_BEGINEXPLUATATION_MEDI': 307511,
 'YEARS_BEGINEXPLUATATION_MODE': 307511,
 'YEARS_BUILD_AVG': 307511,
 'YEARS_BUILD_MEDI': 307511,
 'YEARS_BUILD_MODE': 307511}

In [16]:
df_columns_number_of_unique_values = {column_name:None for column_name in df_column_names}
for column_name in df_columns_number_of_unique_values:
    df_columns_number_of_unique_values[column_name] = df[column_name].nunique()
df_columns_number_of_unique_values

{'AMT_ANNUITY': 13672,
 'AMT_CREDIT': 5603,
 'AMT_GOODS_PRICE': 1002,
 'AMT_INCOME_TOTAL': 2548,
 'AMT_REQ_CREDIT_BUREAU_DAY': 9,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 5,
 'AMT_REQ_CREDIT_BUREAU_MON': 24,
 'AMT_REQ_CREDIT_BUREAU_QRT': 11,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 9,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 25,
 'APARTMENTS_AVG': 2339,
 'APARTMENTS_MEDI': 1148,
 'APARTMENTS_MODE': 760,
 'BASEMENTAREA_AVG': 3780,
 'BASEMENTAREA_MEDI': 3772,
 'BASEMENTAREA_MODE': 3841,
 'CNT_CHILDREN': 15,
 'CNT_FAM_MEMBERS': 17,
 'CODE_GENDER': 3,
 'COMMONAREA_AVG': 3181,
 'COMMONAREA_MEDI': 3202,
 'COMMONAREA_MODE': 3128,
 'DAYS_BIRTH': 17460,
 'DAYS_EMPLOYED': 12574,
 'DAYS_ID_PUBLISH': 6168,
 'DAYS_LAST_PHONE_CHANGE': 3773,
 'DAYS_REGISTRATION': 15688,
 'DEF_30_CNT_SOCIAL_CIRCLE': 10,
 'DEF_60_CNT_SOCIAL_CIRCLE': 9,
 'ELEVATORS_AVG': 257,
 'ELEVATORS_MEDI': 46,
 'ELEVATORS_MODE': 26,
 'EMERGENCYSTATE_MODE': 2,
 'ENTRANCES_AVG': 285,
 'ENTRANCES_MEDI': 46,
 'ENTRANCES_MODE': 30,
 'EXT_SOURCE_1': 114584,
 'EXT_SOURCE_2': 119831,
 'EXT_SOURCE_3': 814,
 'FLAG_CONT_MOBILE': 2,
 'FLAG_DOCUMENT_10': 2,
 'FLAG_DOCUMENT_11': 2,
 'FLAG_DOCUMENT_12': 2,
 'FLAG_DOCUMENT_13': 2,
 'FLAG_DOCUMENT_14': 2,
 'FLAG_DOCUMENT_15': 2,
 'FLAG_DOCUMENT_16': 2,
 'FLAG_DOCUMENT_17': 2,
 'FLAG_DOCUMENT_18': 2,
 'FLAG_DOCUMENT_19': 2,
 'FLAG_DOCUMENT_2': 2,
 'FLAG_DOCUMENT_20': 2,
 'FLAG_DOCUMENT_21': 2,
 'FLAG_DOCUMENT_3': 2,
 'FLAG_DOCUMENT_4': 2,
 'FLAG_DOCUMENT_5': 2,
 'FLAG_DOCUMENT_6': 2,
 'FLAG_DOCUMENT_7': 2,
 'FLAG_DOCUMENT_8': 2,
 'FLAG_DOCUMENT_9': 2,
 'FLAG_EMAIL': 2,
 'FLAG_EMP_PHONE': 2,
 'FLAG_MOBIL': 2,
 'FLAG_OWN_CAR': 2,
 'FLAG_OWN_REALTY': 2,
 'FLAG_PHONE': 2,
 'FLAG_WORK_PHONE': 2,
 'FLOORSMAX_AVG': 403,
 'FLOORSMAX_MEDI': 49,
 'FLOORSMAX_MODE': 25,
 'FLOORSMIN_AVG': 305,
 'FLOORSMIN_MEDI': 47,
 'FLOORSMIN_MODE': 25,
 'FONDKAPREMONT_MODE': 4,
 'HOUR_APPR_PROCESS_START': 24,
 'HOUSETYPE_MODE': 3,
 'LANDAREA_AVG': 3527,
 'LANDAREA_MEDI': 3560,
 'LANDAREA_MODE': 3563,
 'LIVE_CITY_NOT_WORK_CITY': 2,
 'LIVE_REGION_NOT_WORK_REGION': 2,
 'LIVINGAPARTMENTS_AVG': 1868,
 'LIVINGAPARTMENTS_MEDI': 1097,
 'LIVINGAPARTMENTS_MODE': 736,
 'LIVINGAREA_AVG': 5199,
 'LIVINGAREA_MEDI': 5281,
 'LIVINGAREA_MODE': 5301,
 'NAME_CONTRACT_TYPE': 2,
 'NAME_EDUCATION_TYPE': 5,
 'NAME_FAMILY_STATUS': 6,
 'NAME_HOUSING_TYPE': 6,
 'NAME_INCOME_TYPE': 8,
 'NAME_TYPE_SUITE': 7,
 'NONLIVINGAPARTMENTS_AVG': 386,
 'NONLIVINGAPARTMENTS_MEDI': 214,
 'NONLIVINGAPARTMENTS_MODE': 167,
 'NONLIVINGAREA_AVG': 3290,
 'NONLIVINGAREA_MEDI': 3323,
 'NONLIVINGAREA_MODE': 3327,
 'OBS_30_CNT_SOCIAL_CIRCLE': 33,
 'OBS_60_CNT_SOCIAL_CIRCLE': 33,
 'OCCUPATION_TYPE': 18,
 'ORGANIZATION_TYPE': 58,
 'OWN_CAR_AGE': 62,
 'REGION_POPULATION_RELATIVE': 81,
 'REGION_RATING_CLIENT': 3,
 'REGION_RATING_CLIENT_W_CITY': 3,
 'REG_CITY_NOT_LIVE_CITY': 2,
 'REG_CITY_NOT_WORK_CITY': 2,
 'REG_REGION_NOT_LIVE_REGION': 2,
 'REG_REGION_NOT_WORK_REGION': 2,
 'SK_ID_CURR': 307511,
 'TARGET': 2,
 'TOTALAREA_MODE': 5116,
 'WALLSMATERIAL_MODE': 7,
 'WEEKDAY_APPR_PROCESS_START': 7,
 'YEARS_BEGINEXPLUATATION_AVG': 285,
 'YEARS_BEGINEXPLUATATION_MEDI': 245,
 'YEARS_BEGINEXPLUATATION_MODE': 221,
 'YEARS_BUILD_AVG': 149,
 'YEARS_BUILD_MEDI': 151,
 'YEARS_BUILD_MODE': 154}

In [17]:
df_columns_percentage_of_unique_values = {column_name:None for column_name in df_column_names}
for column_name in df_columns_percentage_of_unique_values:
    df_columns_percentage_of_unique_values[column_name] = df_columns_number_of_unique_values[column_name]/df_row_count
df_columns_percentage_of_unique_values

{'AMT_ANNUITY': 0.04446019817177272,
 'AMT_CREDIT': 0.01822048642162394,
 'AMT_GOODS_PRICE': 0.0032584200239991414,
 'AMT_INCOME_TOTAL': 0.008285882456237337,
 'AMT_REQ_CREDIT_BUREAU_DAY': 2.9267245724543187e-05,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 1.6259580958079547e-05,
 'AMT_REQ_CREDIT_BUREAU_MON': 7.804598859878183e-05,
 'AMT_REQ_CREDIT_BUREAU_QRT': 3.577107810777501e-05,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 2.9267245724543187e-05,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 8.129790479039775e-05,
 'APARTMENTS_AVG': 0.007606231972189612,
 'APARTMENTS_MEDI': 0.0037331997879750645,
 'APARTMENTS_MODE': 0.0024714563056280913,
 'BASEMENTAREA_AVG': 0.01229224320430814,
 'BASEMENTAREA_MEDI': 0.012266227874775212,
 'BASEMENTAREA_MODE': 0.01249061009199671,
 'CNT_CHILDREN': 4.8778742874238645e-05,
 'CNT_FAM_MEMBERS': 5.528257525747047e-05,
 'CODE_GENDER': 9.755748574847729e-06,
 'COMMONAREA_AVG': 0.010344345405530208,
 'COMMONAREA_MEDI': 0.010412635645554143,
 'COMMONAREA_MODE': 0.010171993847374565,
 'DAYS_BIRTH': 0.05677845670561378,
 'DAYS_EMPLOYED': 0.040889594193378447,
 'DAYS_ID_PUBLISH': 0.02005781906988693,
 'DAYS_LAST_PHONE_CHANGE': 0.012269479790966827,
 'DAYS_REGISTRATION': 0.05101606121407039,
 'DEF_30_CNT_SOCIAL_CIRCLE': 3.2519161916159095e-05,
 'DEF_60_CNT_SOCIAL_CIRCLE': 2.9267245724543187e-05,
 'ELEVATORS_AVG': 0.0008357424612452888,
 'ELEVATORS_MEDI': 0.00014958814481433184,
 'ELEVATORS_MODE': 8.454982098201365e-05,
 'EMERGENCYSTATE_MODE': 6.503832383231819e-06,
 'ENTRANCES_AVG': 0.0009267961146105343,
 'ENTRANCES_MEDI': 0.00014958814481433184,
 'ENTRANCES_MODE': 9.755748574847729e-05,
 'EXT_SOURCE_1': 0.3726175649001174,
 'EXT_SOURCE_2': 0.3896803691575261,
 'EXT_SOURCE_3': 0.0026470597799753506,
 'FLAG_CONT_MOBILE': 6.503832383231819e-06,
 'FLAG_DOCUMENT_10': 6.503832383231819e-06,
 'FLAG_DOCUMENT_11': 6.503832383231819e-06,
 'FLAG_DOCUMENT_12': 6.503832383231819e-06,
 'FLAG_DOCUMENT_13': 6.503832383231819e-06,
 'FLAG_DOCUMENT_14': 6.503832383231819e-06,
 'FLAG_DOCUMENT_15': 6.503832383231819e-06,
 'FLAG_DOCUMENT_16': 6.503832383231819e-06,
 'FLAG_DOCUMENT_17': 6.503832383231819e-06,
 'FLAG_DOCUMENT_18': 6.503832383231819e-06,
 'FLAG_DOCUMENT_19': 6.503832383231819e-06,
 'FLAG_DOCUMENT_2': 6.503832383231819e-06,
 'FLAG_DOCUMENT_20': 6.503832383231819e-06,
 'FLAG_DOCUMENT_21': 6.503832383231819e-06,
 'FLAG_DOCUMENT_3': 6.503832383231819e-06,
 'FLAG_DOCUMENT_4': 6.503832383231819e-06,
 'FLAG_DOCUMENT_5': 6.503832383231819e-06,
 'FLAG_DOCUMENT_6': 6.503832383231819e-06,
 'FLAG_DOCUMENT_7': 6.503832383231819e-06,
 'FLAG_DOCUMENT_8': 6.503832383231819e-06,
 'FLAG_DOCUMENT_9': 6.503832383231819e-06,
 'FLAG_EMAIL': 6.503832383231819e-06,
 'FLAG_EMP_PHONE': 6.503832383231819e-06,
 'FLAG_MOBIL': 6.503832383231819e-06,
 'FLAG_OWN_CAR': 6.503832383231819e-06,
 'FLAG_OWN_REALTY': 6.503832383231819e-06,
 'FLAG_PHONE': 6.503832383231819e-06,
 'FLAG_WORK_PHONE': 6.503832383231819e-06,
 'FLOORSMAX_AVG': 0.0013105222252212116,
 'FLOORSMAX_MEDI': 0.00015934389338917958,
 'FLOORSMAX_MODE': 8.129790479039775e-05,
 'FLOORSMIN_AVG': 0.0009918344384428524,
 'FLOORSMIN_MEDI': 0.00015284006100594775,
 'FLOORSMIN_MODE': 8.129790479039775e-05,
 'FONDKAPREMONT_MODE': 1.3007664766463638e-05,
 'HOUR_APPR_PROCESS_START': 7.804598859878183e-05,
 'HOUSETYPE_MODE': 9.755748574847729e-06,
 'LANDAREA_AVG': 0.011469508407829314,
 'LANDAREA_MEDI': 0.011576821642152638,
 'LANDAREA_MODE': 0.011586577390727486,
 'LIVE_CITY_NOT_WORK_CITY': 6.503832383231819e-06,
 'LIVE_REGION_NOT_WORK_REGION': 6.503832383231819e-06,
 'LIVINGAPARTMENTS_AVG': 0.006074579445938519,
 'LIVINGAPARTMENTS_MEDI': 0.003567352062202653,
 'LIVINGAPARTMENTS_MODE': 0.0023934103170293094,
 'LIVINGAREA_AVG': 0.016906712280211116,
 'LIVINGAREA_MEDI': 0.01717336940792362,
 'LIVINGAREA_MODE': 0.017238407731755938,
 'NAME_CONTRACT_TYPE': 6.503832383231819e-06,
 'NAME_EDUCATION_TYPE': 1.6259580958079547e-05,
 'NAME_FAMILY_STATUS': 1.9511497149695458e-05,
 'NAME_HOUSING_TYPE': 1.9511497149695458e-05,
 'NAME_INCOME_TYPE': 2.6015329532927276e-05,
 'NAME_TYPE_SUITE': 2.276341334131137e-05,
 'NONLIVINGAPARTMENTS_AVG': 0.001255239649963741,
 'NONLIVINGAPARTMENTS_MEDI': 0.0006959100650058047,
 'NONLIVINGAPARTMENTS_MODE': 0.000543070003999857,
 'NONLIVINGAREA_AVG': 0.010698804270416343,
 'NONLIVINGAREA_MEDI': 0.010806117504739667,
 'NONLIVINGAREA_MODE': 0.010819125169506132,
 'OBS_30_CNT_SOCIAL_CIRCLE': 0.00010731323432332502,
 'OBS_60_CNT_SOCIAL_CIRCLE': 0.00010731323432332502,
 'OCCUPATION_TYPE': 5.8534491449086374e-05,
 'ORGANIZATION_TYPE': 0.00018861113911372275,
 'OWN_CAR_AGE': 0.0002016188038801864,
 'REGION_POPULATION_RELATIVE': 0.00026340521152088867,
 'REGION_RATING_CLIENT': 9.755748574847729e-06,
 'REGION_RATING_CLIENT_W_CITY': 9.755748574847729e-06,
 'REG_CITY_NOT_LIVE_CITY': 6.503832383231819e-06,
 'REG_CITY_NOT_WORK_CITY': 6.503832383231819e-06,
 'REG_REGION_NOT_LIVE_REGION': 6.503832383231819e-06,
 'REG_REGION_NOT_WORK_REGION': 6.503832383231819e-06,
 'SK_ID_CURR': 1.0,
 'TARGET': 6.503832383231819e-06,
 'TOTALAREA_MODE': 0.016636803236306993,
 'WALLSMATERIAL_MODE': 2.276341334131137e-05,
 'WEEKDAY_APPR_PROCESS_START': 2.276341334131137e-05,
 'YEARS_BEGINEXPLUATATION_AVG': 0.0009267961146105343,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.0007967194669458978,
 'YEARS_BEGINEXPLUATATION_MODE': 0.000718673478347116,
 'YEARS_BUILD_AVG': 0.00048453551255077057,
 'YEARS_BUILD_MEDI': 0.0004910393449340023,
 'YEARS_BUILD_MODE': 0.0005007950935088501}

In [20]:
# ?Columns where ‘Percentage of Unique Values Per Column’ is 100%?
for column_name in df_columns_percentage_of_unique_values:
    if df_columns_percentage_of_unique_values[column_name] == 1:
        print (column_name, 'dtype: ', df[column_name].dtype)

SK_ID_CURR dtype:  int64

In [21]:
# ?Columns where ‘Count of Unique Values Per Column’ is 2?
for column_name in df_columns_number_of_unique_values:
    if df_columns_number_of_unique_values[column_name] == 2:
        print (column_name, 'dtype: ', df[column_name].dtype)

TARGET dtype:  int64
NAME_CONTRACT_TYPE dtype:  object
FLAG_OWN_CAR dtype:  object
FLAG_OWN_REALTY dtype:  object
FLAG_MOBIL dtype:  int64
FLAG_EMP_PHONE dtype:  int64
FLAG_WORK_PHONE dtype:  int64
FLAG_CONT_MOBILE dtype:  int64
FLAG_PHONE dtype:  int64
FLAG_EMAIL dtype:  int64
REG_REGION_NOT_LIVE_REGION dtype:  int64
REG_REGION_NOT_WORK_REGION dtype:  int64
LIVE_REGION_NOT_WORK_REGION dtype:  int64
REG_CITY_NOT_LIVE_CITY dtype:  int64
REG_CITY_NOT_WORK_CITY dtype:  int64
LIVE_CITY_NOT_WORK_CITY dtype:  int64
EMERGENCYSTATE_MODE dtype:  object
FLAG_DOCUMENT_2 dtype:  int64
FLAG_DOCUMENT_3 dtype:  int64
FLAG_DOCUMENT_4 dtype:  int64
FLAG_DOCUMENT_5 dtype:  int64
FLAG_DOCUMENT_6 dtype:  int64
FLAG_DOCUMENT_7 dtype:  int64
FLAG_DOCUMENT_8 dtype:  int64
FLAG_DOCUMENT_9 dtype:  int64
FLAG_DOCUMENT_10 dtype:  int64
FLAG_DOCUMENT_11 dtype:  int64
FLAG_DOCUMENT_12 dtype:  int64
FLAG_DOCUMENT_13 dtype:  int64
FLAG_DOCUMENT_14 dtype:  int64
FLAG_DOCUMENT_15 dtype:  int64
FLAG_DOCUMENT_16 dtype:  int64
FLAG_DOCUMENT_17 dtype:  int64
FLAG_DOCUMENT_18 dtype:  int64
FLAG_DOCUMENT_19 dtype:  int64
FLAG_DOCUMENT_20 dtype:  int64
FLAG_DOCUMENT_21 dtype:  int64

In [22]:
# ?Columns where ‘Count of Unique Values Per Column’ is 2?
for column_name in df_columns_number_of_unique_values:
    if df_columns_number_of_unique_values[column_name] == 2:
        print (df[column_name].value_counts())

0    282686
1     24825
Name: TARGET, dtype: int64
Cash loans         278232
Revolving loans     29279
Name: NAME_CONTRACT_TYPE, dtype: int64
N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64
Y    213312
N     94199
Name: FLAG_OWN_REALTY, dtype: int64
1    307510
0         1
Name: FLAG_MOBIL, dtype: int64
1    252125
0     55386
Name: FLAG_EMP_PHONE, dtype: int64
0    246203
1     61308
Name: FLAG_WORK_PHONE, dtype: int64
1    306937
0       574
Name: FLAG_CONT_MOBILE, dtype: int64
0    221080
1     86431
Name: FLAG_PHONE, dtype: int64
0    290069
1     17442
Name: FLAG_EMAIL, dtype: int64
0    302854
1      4657
Name: REG_REGION_NOT_LIVE_REGION, dtype: int64
0    291899
1     15612
Name: REG_REGION_NOT_WORK_REGION, dtype: int64
0    295008
1     12503
Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64
0    283472
1     24039
Name: REG_CITY_NOT_LIVE_CITY, dtype: int64
0    236644
1     70867
Name: REG_CITY_NOT_WORK_CITY, dtype: int64
0    252296
1     55215
Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64
No     159428
Yes      2328
Name: EMERGENCYSTATE_MODE, dtype: int64
0    307498
1        13
Name: FLAG_DOCUMENT_2, dtype: int64
1    218340
0     89171
Name: FLAG_DOCUMENT_3, dtype: int64
0    307486
1        25
Name: FLAG_DOCUMENT_4, dtype: int64
0    302863
1      4648
Name: FLAG_DOCUMENT_5, dtype: int64
0    280433
1     27078
Name: FLAG_DOCUMENT_6, dtype: int64
0    307452
1        59
Name: FLAG_DOCUMENT_7, dtype: int64
0    282487
1     25024
Name: FLAG_DOCUMENT_8, dtype: int64
0    306313
1      1198
Name: FLAG_DOCUMENT_9, dtype: int64
0    307504
1         7
Name: FLAG_DOCUMENT_10, dtype: int64
0    306308
1      1203
Name: FLAG_DOCUMENT_11, dtype: int64
0    307509
1         2
Name: FLAG_DOCUMENT_12, dtype: int64
0    306427
1      1084
Name: FLAG_DOCUMENT_13, dtype: int64
0    306608
1       903
Name: FLAG_DOCUMENT_14, dtype: int64
0    307139
1       372
Name: FLAG_DOCUMENT_15, dtype: int64
0    304458
1      3053
Name: FLAG_DOCUMENT_16, dtype: int64
0    307429
1        82
Name: FLAG_DOCUMENT_17, dtype: int64
0    305011
1      2500
Name: FLAG_DOCUMENT_18, dtype: int64
0    307328
1       183
Name: FLAG_DOCUMENT_19, dtype: int64
0    307355
1       156
Name: FLAG_DOCUMENT_20, dtype: int64
0    307408
1       103
Name: FLAG_DOCUMENT_21, dtype: int64

In [23]:
# ?Columns where ‘Count of Unique Values Per Column’ is 3?
for column_name in df_columns_number_of_unique_values:
    if df_columns_number_of_unique_values[column_name] == 3:
        print (column_name, 'dtype: ', df[column_name].dtype)

CODE_GENDER dtype:  object
REGION_RATING_CLIENT dtype:  int64
REGION_RATING_CLIENT_W_CITY dtype:  int64
HOUSETYPE_MODE dtype:  object

In [24]:
# ?Columns where ‘Count of Unique Values Per Column’ is 3?
for column_name in df_columns_number_of_unique_values:
    if df_columns_number_of_unique_values[column_name] == 3:
        print (df[column_name].value_counts())

F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64
2    226984
3     48330
1     32197
Name: REGION_RATING_CLIENT, dtype: int64
2    229484
3     43860
1     34167
Name: REGION_RATING_CLIENT_W_CITY, dtype: int64
block of flats      150503
specific housing      1499
terraced house        1212
Name: HOUSETYPE_MODE, dtype: int64

In [35]:
df_columns_missing_values_flag = {column_name:None for column_name in df_column_names}
for column_name in df_columns_missing_values_flag:
    df_columns_missing_values_flag[column_name] = df[column_name].isnull().any()
df_columns_missing_values_flag

{'AMT_ANNUITY': True,
 'AMT_CREDIT': False,
 'AMT_GOODS_PRICE': True,
 'AMT_INCOME_TOTAL': False,
 'AMT_REQ_CREDIT_BUREAU_DAY': True,
 'AMT_REQ_CREDIT_BUREAU_HOUR': True,
 'AMT_REQ_CREDIT_BUREAU_MON': True,
 'AMT_REQ_CREDIT_BUREAU_QRT': True,
 'AMT_REQ_CREDIT_BUREAU_WEEK': True,
 'AMT_REQ_CREDIT_BUREAU_YEAR': True,
 'APARTMENTS_AVG': True,
 'APARTMENTS_MEDI': True,
 'APARTMENTS_MODE': True,
 'BASEMENTAREA_AVG': True,
 'BASEMENTAREA_MEDI': True,
 'BASEMENTAREA_MODE': True,
 'CNT_CHILDREN': False,
 'CNT_FAM_MEMBERS': True,
 'CODE_GENDER': False,
 'COMMONAREA_AVG': True,
 'COMMONAREA_MEDI': True,
 'COMMONAREA_MODE': True,
 'DAYS_BIRTH': False,
 'DAYS_EMPLOYED': False,
 'DAYS_ID_PUBLISH': False,
 'DAYS_LAST_PHONE_CHANGE': True,
 'DAYS_REGISTRATION': False,
 'DEF_30_CNT_SOCIAL_CIRCLE': True,
 'DEF_60_CNT_SOCIAL_CIRCLE': True,
 'ELEVATORS_AVG': True,
 'ELEVATORS_MEDI': True,
 'ELEVATORS_MODE': True,
 'EMERGENCYSTATE_MODE': True,
 'ENTRANCES_AVG': True,
 'ENTRANCES_MEDI': True,
 'ENTRANCES_MODE': True,
 'EXT_SOURCE_1': True,
 'EXT_SOURCE_2': True,
 'EXT_SOURCE_3': True,
 'FLAG_CONT_MOBILE': False,
 'FLAG_DOCUMENT_10': False,
 'FLAG_DOCUMENT_11': False,
 'FLAG_DOCUMENT_12': False,
 'FLAG_DOCUMENT_13': False,
 'FLAG_DOCUMENT_14': False,
 'FLAG_DOCUMENT_15': False,
 'FLAG_DOCUMENT_16': False,
 'FLAG_DOCUMENT_17': False,
 'FLAG_DOCUMENT_18': False,
 'FLAG_DOCUMENT_19': False,
 'FLAG_DOCUMENT_2': False,
 'FLAG_DOCUMENT_20': False,
 'FLAG_DOCUMENT_21': False,
 'FLAG_DOCUMENT_3': False,
 'FLAG_DOCUMENT_4': False,
 'FLAG_DOCUMENT_5': False,
 'FLAG_DOCUMENT_6': False,
 'FLAG_DOCUMENT_7': False,
 'FLAG_DOCUMENT_8': False,
 'FLAG_DOCUMENT_9': False,
 'FLAG_EMAIL': False,
 'FLAG_EMP_PHONE': False,
 'FLAG_MOBIL': False,
 'FLAG_OWN_CAR': False,
 'FLAG_OWN_REALTY': False,
 'FLAG_PHONE': False,
 'FLAG_WORK_PHONE': False,
 'FLOORSMAX_AVG': True,
 'FLOORSMAX_MEDI': True,
 'FLOORSMAX_MODE': True,
 'FLOORSMIN_AVG': True,
 'FLOORSMIN_MEDI': True,
 'FLOORSMIN_MODE': True,
 'FONDKAPREMONT_MODE': True,
 'HOUR_APPR_PROCESS_START': False,
 'HOUSETYPE_MODE': True,
 'LANDAREA_AVG': True,
 'LANDAREA_MEDI': True,
 'LANDAREA_MODE': True,
 'LIVE_CITY_NOT_WORK_CITY': False,
 'LIVE_REGION_NOT_WORK_REGION': False,
 'LIVINGAPARTMENTS_AVG': True,
 'LIVINGAPARTMENTS_MEDI': True,
 'LIVINGAPARTMENTS_MODE': True,
 'LIVINGAREA_AVG': True,
 'LIVINGAREA_MEDI': True,
 'LIVINGAREA_MODE': True,
 'NAME_CONTRACT_TYPE': False,
 'NAME_EDUCATION_TYPE': False,
 'NAME_FAMILY_STATUS': False,
 'NAME_HOUSING_TYPE': False,
 'NAME_INCOME_TYPE': False,
 'NAME_TYPE_SUITE': True,
 'NONLIVINGAPARTMENTS_AVG': True,
 'NONLIVINGAPARTMENTS_MEDI': True,
 'NONLIVINGAPARTMENTS_MODE': True,
 'NONLIVINGAREA_AVG': True,
 'NONLIVINGAREA_MEDI': True,
 'NONLIVINGAREA_MODE': True,
 'OBS_30_CNT_SOCIAL_CIRCLE': True,
 'OBS_60_CNT_SOCIAL_CIRCLE': True,
 'OCCUPATION_TYPE': True,
 'ORGANIZATION_TYPE': False,
 'OWN_CAR_AGE': True,
 'REGION_POPULATION_RELATIVE': False,
 'REGION_RATING_CLIENT': False,
 'REGION_RATING_CLIENT_W_CITY': False,
 'REG_CITY_NOT_LIVE_CITY': False,
 'REG_CITY_NOT_WORK_CITY': False,
 'REG_REGION_NOT_LIVE_REGION': False,
 'REG_REGION_NOT_WORK_REGION': False,
 'SK_ID_CURR': False,
 'TARGET': False,
 'TOTALAREA_MODE': True,
 'WALLSMATERIAL_MODE': True,
 'WEEKDAY_APPR_PROCESS_START': False,
 'YEARS_BEGINEXPLUATATION_AVG': True,
 'YEARS_BEGINEXPLUATATION_MEDI': True,
 'YEARS_BEGINEXPLUATATION_MODE': True,
 'YEARS_BUILD_AVG': True,
 'YEARS_BUILD_MEDI': True,
 'YEARS_BUILD_MODE': True}

In [36]:
df_columns_missing_values_count = {column_name:None for column_name in df_column_names}
for column_name in df_columns_missing_values_count:
    df_columns_missing_values_count[column_name] = df[column_name].isnull().sum()
df_columns_missing_values_count

{'AMT_ANNUITY': 12,
 'AMT_CREDIT': 0,
 'AMT_GOODS_PRICE': 278,
 'AMT_INCOME_TOTAL': 0,
 'AMT_REQ_CREDIT_BUREAU_DAY': 41519,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 41519,
 'AMT_REQ_CREDIT_BUREAU_MON': 41519,
 'AMT_REQ_CREDIT_BUREAU_QRT': 41519,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 41519,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 41519,
 'APARTMENTS_AVG': 156061,
 'APARTMENTS_MEDI': 156061,
 'APARTMENTS_MODE': 156061,
 'BASEMENTAREA_AVG': 179943,
 'BASEMENTAREA_MEDI': 179943,
 'BASEMENTAREA_MODE': 179943,
 'CNT_CHILDREN': 0,
 'CNT_FAM_MEMBERS': 2,
 'CODE_GENDER': 0,
 'COMMONAREA_AVG': 214865,
 'COMMONAREA_MEDI': 214865,
 'COMMONAREA_MODE': 214865,
 'DAYS_BIRTH': 0,
 'DAYS_EMPLOYED': 0,
 'DAYS_ID_PUBLISH': 0,
 'DAYS_LAST_PHONE_CHANGE': 1,
 'DAYS_REGISTRATION': 0,
 'DEF_30_CNT_SOCIAL_CIRCLE': 1021,
 'DEF_60_CNT_SOCIAL_CIRCLE': 1021,
 'ELEVATORS_AVG': 163891,
 'ELEVATORS_MEDI': 163891,
 'ELEVATORS_MODE': 163891,
 'EMERGENCYSTATE_MODE': 145755,
 'ENTRANCES_AVG': 154828,
 'ENTRANCES_MEDI': 154828,
 'ENTRANCES_MODE': 154828,
 'EXT_SOURCE_1': 173378,
 'EXT_SOURCE_2': 660,
 'EXT_SOURCE_3': 60965,
 'FLAG_CONT_MOBILE': 0,
 'FLAG_DOCUMENT_10': 0,
 'FLAG_DOCUMENT_11': 0,
 'FLAG_DOCUMENT_12': 0,
 'FLAG_DOCUMENT_13': 0,
 'FLAG_DOCUMENT_14': 0,
 'FLAG_DOCUMENT_15': 0,
 'FLAG_DOCUMENT_16': 0,
 'FLAG_DOCUMENT_17': 0,
 'FLAG_DOCUMENT_18': 0,
 'FLAG_DOCUMENT_19': 0,
 'FLAG_DOCUMENT_2': 0,
 'FLAG_DOCUMENT_20': 0,
 'FLAG_DOCUMENT_21': 0,
 'FLAG_DOCUMENT_3': 0,
 'FLAG_DOCUMENT_4': 0,
 'FLAG_DOCUMENT_5': 0,
 'FLAG_DOCUMENT_6': 0,
 'FLAG_DOCUMENT_7': 0,
 'FLAG_DOCUMENT_8': 0,
 'FLAG_DOCUMENT_9': 0,
 'FLAG_EMAIL': 0,
 'FLAG_EMP_PHONE': 0,
 'FLAG_MOBIL': 0,
 'FLAG_OWN_CAR': 0,
 'FLAG_OWN_REALTY': 0,
 'FLAG_PHONE': 0,
 'FLAG_WORK_PHONE': 0,
 'FLOORSMAX_AVG': 153020,
 'FLOORSMAX_MEDI': 153020,
 'FLOORSMAX_MODE': 153020,
 'FLOORSMIN_AVG': 208642,
 'FLOORSMIN_MEDI': 208642,
 'FLOORSMIN_MODE': 208642,
 'FONDKAPREMONT_MODE': 210295,
 'HOUR_APPR_PROCESS_START': 0,
 'HOUSETYPE_MODE': 154297,
 'LANDAREA_AVG': 182590,
 'LANDAREA_MEDI': 182590,
 'LANDAREA_MODE': 182590,
 'LIVE_CITY_NOT_WORK_CITY': 0,
 'LIVE_REGION_NOT_WORK_REGION': 0,
 'LIVINGAPARTMENTS_AVG': 210199,
 'LIVINGAPARTMENTS_MEDI': 210199,
 'LIVINGAPARTMENTS_MODE': 210199,
 'LIVINGAREA_AVG': 154350,
 'LIVINGAREA_MEDI': 154350,
 'LIVINGAREA_MODE': 154350,
 'NAME_CONTRACT_TYPE': 0,
 'NAME_EDUCATION_TYPE': 0,
 'NAME_FAMILY_STATUS': 0,
 'NAME_HOUSING_TYPE': 0,
 'NAME_INCOME_TYPE': 0,
 'NAME_TYPE_SUITE': 1292,
 'NONLIVINGAPARTMENTS_AVG': 213514,
 'NONLIVINGAPARTMENTS_MEDI': 213514,
 'NONLIVINGAPARTMENTS_MODE': 213514,
 'NONLIVINGAREA_AVG': 169682,
 'NONLIVINGAREA_MEDI': 169682,
 'NONLIVINGAREA_MODE': 169682,
 'OBS_30_CNT_SOCIAL_CIRCLE': 1021,
 'OBS_60_CNT_SOCIAL_CIRCLE': 1021,
 'OCCUPATION_TYPE': 96391,
 'ORGANIZATION_TYPE': 0,
 'OWN_CAR_AGE': 202929,
 'REGION_POPULATION_RELATIVE': 0,
 'REGION_RATING_CLIENT': 0,
 'REGION_RATING_CLIENT_W_CITY': 0,
 'REG_CITY_NOT_LIVE_CITY': 0,
 'REG_CITY_NOT_WORK_CITY': 0,
 'REG_REGION_NOT_LIVE_REGION': 0,
 'REG_REGION_NOT_WORK_REGION': 0,
 'SK_ID_CURR': 0,
 'TARGET': 0,
 'TOTALAREA_MODE': 148431,
 'WALLSMATERIAL_MODE': 156341,
 'WEEKDAY_APPR_PROCESS_START': 0,
 'YEARS_BEGINEXPLUATATION_AVG': 150007,
 'YEARS_BEGINEXPLUATATION_MEDI': 150007,
 'YEARS_BEGINEXPLUATATION_MODE': 150007,
 'YEARS_BUILD_AVG': 204488,
 'YEARS_BUILD_MEDI': 204488,
 'YEARS_BUILD_MODE': 204488}

In [37]:
df_columns_missing_values_percentage = {column_name:None for column_name in df_column_names}
for column_name in df_columns_missing_values_percentage:
    df_columns_missing_values_percentage[column_name] = df_columns_missing_values_count[column_name]/df_row_count
df_columns_missing_values_percentage

{'AMT_ANNUITY': 3.9022994299390916e-05,
 'AMT_CREDIT': 0.0,
 'AMT_GOODS_PRICE': 0.0009040327012692228,
 'AMT_INCOME_TOTAL': 0.0,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.13501630835970097,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.13501630835970097,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.13501630835970097,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.13501630835970097,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.13501630835970097,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 0.13501630835970097,
 'APARTMENTS_AVG': 0.5074972927797705,
 'APARTMENTS_MEDI': 0.5074972927797705,
 'APARTMENTS_MODE': 0.5074972927797705,
 'BASEMENTAREA_AVG': 0.5851595552679416,
 'BASEMENTAREA_MEDI': 0.5851595552679416,
 'BASEMENTAREA_MODE': 0.5851595552679416,
 'CNT_CHILDREN': 0.0,
 'CNT_FAM_MEMBERS': 6.503832383231819e-06,
 'CODE_GENDER': 0.0,
 'COMMONAREA_AVG': 0.6987229725115525,
 'COMMONAREA_MEDI': 0.6987229725115525,
 'COMMONAREA_MODE': 0.6987229725115525,
 'DAYS_BIRTH': 0.0,
 'DAYS_EMPLOYED': 0.0,
 'DAYS_ID_PUBLISH': 0.0,
 'DAYS_LAST_PHONE_CHANGE': 3.2519161916159095e-06,
 'DAYS_REGISTRATION': 0.0,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.0033202064316398437,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.0033202064316398437,
 'ELEVATORS_AVG': 0.532959796560123,
 'ELEVATORS_MEDI': 0.532959796560123,
 'ELEVATORS_MODE': 0.532959796560123,
 'EMERGENCYSTATE_MODE': 0.47398304450897694,
 'ENTRANCES_AVG': 0.503487680115508,
 'ENTRANCES_MEDI': 0.503487680115508,
 'ENTRANCES_MODE': 0.503487680115508,
 'EXT_SOURCE_1': 0.5638107254699832,
 'EXT_SOURCE_2': 0.0021462646864665006,
 'EXT_SOURCE_3': 0.19825307062186392,
 'FLAG_CONT_MOBILE': 0.0,
 'FLAG_DOCUMENT_10': 0.0,
 'FLAG_DOCUMENT_11': 0.0,
 'FLAG_DOCUMENT_12': 0.0,
 'FLAG_DOCUMENT_13': 0.0,
 'FLAG_DOCUMENT_14': 0.0,
 'FLAG_DOCUMENT_15': 0.0,
 'FLAG_DOCUMENT_16': 0.0,
 'FLAG_DOCUMENT_17': 0.0,
 'FLAG_DOCUMENT_18': 0.0,
 'FLAG_DOCUMENT_19': 0.0,
 'FLAG_DOCUMENT_2': 0.0,
 'FLAG_DOCUMENT_20': 0.0,
 'FLAG_DOCUMENT_21': 0.0,
 'FLAG_DOCUMENT_3': 0.0,
 'FLAG_DOCUMENT_4': 0.0,
 'FLAG_DOCUMENT_5': 0.0,
 'FLAG_DOCUMENT_6': 0.0,
 'FLAG_DOCUMENT_7': 0.0,
 'FLAG_DOCUMENT_8': 0.0,
 'FLAG_DOCUMENT_9': 0.0,
 'FLAG_EMAIL': 0.0,
 'FLAG_EMP_PHONE': 0.0,
 'FLAG_MOBIL': 0.0,
 'FLAG_OWN_CAR': 0.0,
 'FLAG_OWN_REALTY': 0.0,
 'FLAG_PHONE': 0.0,
 'FLAG_WORK_PHONE': 0.0,
 'FLOORSMAX_AVG': 0.4976082156410665,
 'FLOORSMAX_MEDI': 0.4976082156410665,
 'FLOORSMAX_MODE': 0.4976082156410665,
 'FLOORSMIN_AVG': 0.6784862980511266,
 'FLOORSMIN_MEDI': 0.6784862980511266,
 'FLOORSMIN_MODE': 0.6784862980511266,
 'FONDKAPREMONT_MODE': 0.6838617155158677,
 'HOUR_APPR_PROCESS_START': 0.0,
 'HOUSETYPE_MODE': 0.50176091261776,
 'LANDAREA_AVG': 0.5937673774271489,
 'LANDAREA_MEDI': 0.5937673774271489,
 'LANDAREA_MODE': 0.5937673774271489,
 'LIVE_CITY_NOT_WORK_CITY': 0.0,
 'LIVE_REGION_NOT_WORK_REGION': 0.0,
 'LIVINGAPARTMENTS_AVG': 0.6835495315614726,
 'LIVINGAPARTMENTS_MEDI': 0.6835495315614726,
 'LIVINGAPARTMENTS_MODE': 0.6835495315614726,
 'LIVINGAREA_AVG': 0.5019332641759157,
 'LIVINGAREA_MEDI': 0.5019332641759157,
 'LIVINGAREA_MODE': 0.5019332641759157,
 'NAME_CONTRACT_TYPE': 0.0,
 'NAME_EDUCATION_TYPE': 0.0,
 'NAME_FAMILY_STATUS': 0.0,
 'NAME_HOUSING_TYPE': 0.0,
 'NAME_INCOME_TYPE': 0.0,
 'NAME_TYPE_SUITE': 0.004201475719567756,
 'NONLIVINGAPARTMENTS_AVG': 0.6943296337366793,
 'NONLIVINGAPARTMENTS_MEDI': 0.6943296337366793,
 'NONLIVINGAPARTMENTS_MODE': 0.6943296337366793,
 'NONLIVINGAREA_AVG': 0.5517916432257708,
 'NONLIVINGAREA_MEDI': 0.5517916432257708,
 'NONLIVINGAREA_MODE': 0.5517916432257708,
 'OBS_30_CNT_SOCIAL_CIRCLE': 0.0033202064316398437,
 'OBS_60_CNT_SOCIAL_CIRCLE': 0.0033202064316398437,
 'OCCUPATION_TYPE': 0.31345545362604915,
 'ORGANIZATION_TYPE': 0.0,
 'OWN_CAR_AGE': 0.6599081008484249,
 'REGION_POPULATION_RELATIVE': 0.0,
 'REGION_RATING_CLIENT': 0.0,
 'REGION_RATING_CLIENT_W_CITY': 0.0,
 'REG_CITY_NOT_LIVE_CITY': 0.0,
 'REG_CITY_NOT_WORK_CITY': 0.0,
 'REG_REGION_NOT_LIVE_REGION': 0.0,
 'REG_REGION_NOT_WORK_REGION': 0.0,
 'SK_ID_CURR': 0.0,
 'TARGET': 0.0,
 'TOTALAREA_MODE': 0.4826851722377411,
 'WALLSMATERIAL_MODE': 0.508407829313423,
 'WEEKDAY_APPR_PROCESS_START': 0.0,
 'YEARS_BEGINEXPLUATATION_AVG': 0.48781019215572774,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.48781019215572774,
 'YEARS_BEGINEXPLUATATION_MODE': 0.48781019215572774,
 'YEARS_BUILD_AVG': 0.6649778381911542,
 'YEARS_BUILD_MEDI': 0.6649778381911542,
 'YEARS_BUILD_MODE': 0.6649778381911542}

In [39]:
# ?Columns where ‘Count of Unique Values Per Column’ is 3?
for column_name in df_columns_missing_values_percentage:
    if df_columns_missing_values_percentage[column_name] >= 0.60:
        print (column_name, df_columns_missing_values_percentage[column_name])

OWN_CAR_AGE 0.6599081008484249
YEARS_BUILD_AVG 0.6649778381911542
COMMONAREA_AVG 0.6987229725115525
FLOORSMIN_AVG 0.6784862980511266
LIVINGAPARTMENTS_AVG 0.6835495315614726
NONLIVINGAPARTMENTS_AVG 0.6943296337366793
YEARS_BUILD_MODE 0.6649778381911542
COMMONAREA_MODE 0.6987229725115525
FLOORSMIN_MODE 0.6784862980511266
LIVINGAPARTMENTS_MODE 0.6835495315614726
NONLIVINGAPARTMENTS_MODE 0.6943296337366793
YEARS_BUILD_MEDI 0.6649778381911542
COMMONAREA_MEDI 0.6987229725115525
FLOORSMIN_MEDI 0.6784862980511266
LIVINGAPARTMENTS_MEDI 0.6835495315614726
NONLIVINGAPARTMENTS_MEDI 0.6943296337366793
FONDKAPREMONT_MODE 0.6838617155158677

# EDA - Meta-Data - Manual

In [ ]:
target_column_name = 'TARGET'

In [ ]:
# application_train.select_dtypes(include=['bool'])
list(application_train.select_dtypes(include=['bool']).columns)

In [ ]:
list(application_train.select_dtypes(include=['int64']).columns)

In [ ]:
list(application_train.select_dtypes(include=['float64']).columns)

In [ ]:
list(application_train.select_dtypes(include=['O']).columns)

In [ ]:
# List of unique values in the df['name'] column
# df.name.unique()
application_train.TARGET.unique()

In [ ]:
application_train['TARGET'].unique()

In [ ]:
# Number of unique values in the df['name'] column
application_train.TARGET.nunique()

In [ ]:
application_train['TARGET'].nunique()

In [ ]:
application_train['TARGET'].value_counts()

https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik

Count distict values, use nunique:
df['hID'].nunique()
Count only non-null values, use count:
df['hID'].count()
Count total values including null values, use size attribute:
df['hID'].size
To add condition...
Use boolean indexing:
df.loc[df['mID']=='A','hID'].agg(['nunique','count','size'])
Or, using query:
df.query('mID == "A"')['hID'].agg(['nunique','count','size'])

New in pandas 0.20.0 pd.DataFrame.agg
df.agg(['count', 'size', 'nunique'])
You've always been able to do an agg within a groupby. I used stack at the end because I like the presentation better.
df.groupby('mID').agg(['count', 'size', 'nunique']).stack()


https://stackoverflow.com/questions/45125408/how-to-count-the-distinct-values-across-a-column-in-pandas

df[['Company', 'Date']].drop_duplicates()['Company'].value_counts()
df.groupby('Company')['Date'].nunique()


https://stackoverflow.com/questions/48162201/pandas-number-of-unique-values-and-sort-by-the-number-of-unique

df = df.groupby('A')['B'].nunique().sort_values(ascending=False).reset_index(name='count')
print (df)


https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups/38309823

You can retain the column name like this:
df = df.groupby(by='domain', as_index=False).agg({'ID': pd.Series.nunique})
The difference is that 'nunique()' returns a Series and 'agg()' returns a DataFrame.

In [ ]:
for column_name in application_train_column_names:
    number_of_unique_values = application_train[column_name].nunique()
    print ('Column Name: ', column_name, 'Number of Unique Values: ', number_of_unique_values, 'Cardinality: ', round(number_of_unique_values/application_train__row_count,2))

In [ ]:
dict((column_name,None) for column_name in application_train_column_names)

In [ ]:
dict((column_name,application_train__row_count) for column_name in application_train_column_names)

In [ ]:
# https://stackoverflow.com/questions/3869487/how-do-i-create-a-dictionary-with-keys-from-a-list-and-values-defaulting-to-say
# Generator expressions avoid the memory overhead of populating the whole list.
# https://stackoverflow.com/questions/2241891/how-to-initialize-a-dict-with-keys-from-a-list-and-empty-value-in-python
# dict.fromkeys(keys_list)
# Be careful with initializing to something mutable: If you call, e.g., dict.fromkeys([1, 2, 3], []), all of the keys are mapped to the same list, and modifying one will modify them all.
# 
# dict-comprehension solution
# keys = [1,2,3,5,6,7]
# {key: None for key in keys}
#> {1: None, 2: None, 3: None, 5: None, 6: None, 7: None}
# 
# Using a dict-comp also allows the value to be the result of calling a function
#   (which could be passed the key as an argument, if desired)

In [ ]:
"""
# http://pbpython.com/pandas-list-dict.html
The “default” manner to create a DataFrame from python is to use a list of dictionaries.
In this case each dictionary key is used for the column headings.
A default index will be created automatically:
sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
         {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
         {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 }]
df = pd.DataFrame(sales)

"""

In [ ]:
empty_dictionary = {}
empty_dictionary

In [ ]:
any(empty_dictionary)

In [ ]:
len(empty_dictionary)

In [ ]:
bool(empty_dictionary)

In [ ]:
falsy_dictionary = {0:False}
falsy_dictionary

In [ ]:
any(falsy_dictionary)

In [ ]:
len(falsy_dictionary)

In [ ]:
bool(falsy_dictionary)

In [ ]:
"""
# https://stackoverflow.com/questions/23177439/python-checking-if-a-dictionary-is-empty-doesnt-seem-to-work
test_dict = {}

# Option 1
if not test_dict:
    print "Dict is Empty"

# Option 2
if not bool(test_dict):
    print "Dict is Empty"

# Option 3
if len(test_dict) == 0:
    print "Dict is Empty"

# The first test in the answer above is true not only if the dict exists and is empty, but also if test_dict is None.
# So use this test only when you know that the dict object exists (or when the difference does not matter).
# The second way also has that behavior.
# Only the third way barks if test_dict is None.
"""

In [ ]:
application_train_as_objects = pd.read_table(path + 'application_train.csv', sep=',', dtype=object)

In [ ]:
application_train_column_names

In [ ]:
# https://stackoverflow.com/questions/18667410/how-can-i-check-if-a-string-only-contains-letters-in-python

if string.isalpha():
    print("It's all letters")

# NOTE: using [A-Za-z ]+ will not match names with non ASCII letterss
# NOTE: using \w includes digits
import re
def only_letters(tested_string):
    #match = re.match("^[ABCDEFGHJKLM]*$", tested_string)
    #match = re.match("^[A-HJ-M]*$", tested_string)
    match = re.match("^[A-Za-z]*$", tested_string)
    return match is not None

import re
def only_letters(string):
    return re.match(r'[a-z\s]+$',string,2) # JWB: What's with the ",2"?

def only_letters(string):
    return all(letter.isalpha() for letter in string)

def only_letters(s):
    for c in s:
        cat = unicodedata.category(c)
        # Lu: Category: Letter, Uppercase (https://codepoints.net/search?gc=Lu)
        # Ll: Category: Letter, Lowercase (https://codepoints.net/search?gc=Ll)
        # Lt: Category: Letter, Titlecase (https://codepoints.net/search?gc=Lt)
        # Lm: Category: Letter, Modifier  (https://codepoints.net/search?gc=Lm)
        # Lo: Category: Letter, Other     (https://codepoints.net/search?gc=Lo)
        # Latin-1: There are no Lm or Lt category codepoints in the Latin-1 subset of Unicode and only 2 Lo characters, ª (U+00AA) and º (U+00BA), Feminine and Masculine Ordinal Indicator).
        if cat not in ('Lu','Ll','Lo'):
            return False
    return True

# https://stackoverflow.com/questions/29460405/checking-if-string-is-only-letters-and-spaces-python
# To require that the string contains only alphas and spaces:
if all(x.isalpha() or x.isspace() for x in string):
    print("Only alphabetical letters and spaces: yes")
else:
    print("Only alphabetical letters and spaces: no")
# To require that the string contains at least one alpha and at least one space:
if any(x.isalpha() for x in string) and any(x.isspace() for x in string):
# To require that the string contains at least one alpha, at least one space, and only alphas and spaces:
if (any(x.isalpha() for x in string)
    and any(x.isspace() for x in string)
    and all(x.isalpha() or x.isspace() for x in string)):

In [ ]:
#locale.getlocale()
#> NameError: name 'locale' is not defined

In [ ]:
'dog'.isalpha()

In [ ]:
'äöå'.isalpha()

In [ ]:
'привіт'.isalpha()

In [ ]:
u'привіт'.isalpha()

In [ ]:
repr('äöå')

In [ ]:
ascii('äöå')

In [ ]:
# https://stackoverflow.com/questions/4286637/python-isalpha-and-scandics
# http://en.wikipedia.org/wiki/Windows-1252
s = '\xe4\xf6\xe5'
import unicodedata
for c in s:
    u = c.decode('1252')
    print (ascii(c), ascii(u), unicodedata.name(u, '<no name>'))
#'\xe4' u'\xe4' LATIN SMALL LETTER A WITH DIAERESIS
#'\xf6' u'\xf6' LATIN SMALL LETTER O WITH DIAERESIS
#'\xe5' u'\xe5' LATIN SMALL LETTER A WITH RING ABOVE
s.isalpha()

In [ ]:
# The isalpha() methods returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”.
# This function is used to check if the argument contains any alphabets characters such as:
#     ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
# Both uppercase and lowercase alphabets return “True”
# Space is not considered to be alphabet, therefore it returns “False”

def is_plain_text(string):
    if string != 0:
            # require that the string contains only alphas
            #if all(character.isalpha() for character in string)
            # require that the string contains only alphas and spaces
            if all(character.isalpha() or character.isspace() for character in string):
                return True
            else:
                return False
    else:
            return None

In [ ]:
is_plain_text(application_train_as_objects['SK_ID_CURR'])
#TypeError: 'numpy.bool_' object is not iterable

In [ ]:
application_train_as_objects['SK_ID_CURR'].dtype

In [ ]:
application_train_as_objects['SK_ID_CURR'].str.isdigit().any()

In [ ]:
application_train_as_objects['SK_ID_CURR'].str.isdigit().all()

In [ ]:
application_train_as_objects['SK_ID_CURR'].str.isalpha().any()

In [ ]:
application_train_as_objects['SK_ID_CURR'].str.isalpha().all()

In [ ]:
df[pd.to_numeric(df.A, errors='coerce').notnull()]

In [ ]:
application_train['SK_ID_CURR'].count()

In [ ]:
application_train['SK_ID_CURR'].value_counts()

In [ ]:
# checking for uniqueness:
print(len(application_train['SK_ID_CURR'].unique()))

In [ ]:
# How many classes
application_train['TARGET'].nunique()

In [ ]:
# Distribution of those classes
application_train['TARGET'].value_counts(dropna=False)

In [ ]:
dtypes = application_train.dtypes
dtypes = dtypes[dtypes != 'object']
features = list(set(dtypes.index) - set(['TARGET']))
len(features)

In [ ]:
X = df[features]
y = df['TARGET']

In [ ]:
id_column = ['SK_ID_CURR']

In [ ]:
target_column = ['TARGET']

In [ ]:
boolean_columns = ['FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

In [ ]:
categorical_columns = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [ ]:
object_columns = []

In [ ]:
numerical_columns = []

In [ ]:
int_columns = []

In [ ]:
float_columns = []

In [ ]:
datetime_columns = []

In [ ]:
date_columns = []

In [ ]:
nondata_columns = ['SK_ID_CURR']

In [ ]:
target_distribution = application_train['TARGET'].value_counts()
target_distribution.plot.pie(figsize=(10, 10),
                             title='Target Distribution',
                             fontsize=15, 
                             legend=True,
                             autopct=lambda v: "{:0.1f}%".format(v))

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                   202929
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                96391
CNT_FAM_MEMBERS                    2
                               ...
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
DAYS_LAST_PHONE_CHANGE             1
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR     41519
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 122, dtype: int64

In [ ]:
nan_precents = (application_train.isnull().sum()/application_train.isnull().count()*100)

In [ ]:
feature_overview_df  = pd.concat([total_nans, nan_precents], axis=1, keys=['NaN Count', 'NaN Pencent'])
feature_overview_df['Type'] = [application_train[c].dtype for c in feature_overview_df.index]
pd.set_option('display.max_rows', None)
display(feature_overview_df)
pd.set_option('display.max_rows', 20)

In [ ]:
all_application_is_nan_df = pd.DataFrame()
for column in application_train.columns:
    if application_train[column].isnull().sum() == 0:
        continue
    all_application_is_nan_df['is_nan_' + column] = application_train[column].isnull()
    all_application_is_nan_df['is_nan_' + column] = all_application_is_nan_df['is_nan_' + column].map(lambda v: 1 if v else 0)
all_application_is_nan_df['target'] = application_train['TARGET']
all_application_is_nan_df = all_application_is_nan_df[pd.notnull(all_application_is_nan_df['target'])]

In [ ]:
display(all_application_is_nan_df)

In [ ]:
Y = all_application_is_nan_df.pop('target')
X = all_application_is_nan_df

In [ ]:
train_X, valid_X, train_Y, valid_Y = train_test_split(X, Y, test_size=0.2, random_state=2018)

In [ ]:
clf = LGBMClassifier(n_estimators=200, learning_rate=0.01)

In [ ]:
clf.fit(
        train_X,
        train_Y,
        eval_set=[(train_X, train_Y), (valid_X, valid_Y)],
        eval_metric='auc',
        early_stopping_rounds=50,
        verbose=False
       )

In [ ]:
plot_importance(clf, figsize=(10,10))

In [ ]:
#print("only showing the distribution for the first few columns, edit the counter to show all distribution")
#show_feature_count = 10
#for column in all_application_df.columns:
#   if show_feature_count == 0:
#        break
#    show_feature_count -= 1
#    draw_feature_distribution(all_application_df, column)

In [ ]:
draw_feature_distribution(application_train, 'TARGET')

In [ ]:
draw_feature_distribution(application_train, 'DAYS_EMPLOYED')
# ToDo(JamesBalcomb): fix "ValueError: max() arg is an empty sequence" - add check for 'class_t_values'

In [ ]:
#EXT_SOURCE_1
#EXT_SOURCE_2
#EXT_SOURCE_3

In [ ]:
draw_feature_distribution(application_train, 'EXT_SOURCE_1')

In [ ]:
draw_feature_distribution(application_train, 'EXT_SOURCE_2')

In [ ]:
draw_feature_distribution(application_train, 'EXT_SOURCE_3')

# EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3

Q: Is there a relationship between any of these three continuous variables and the binary classification target variable?
A: Yes, but EXT_SOURCE_2 is oddly shapen.

In [ ]:
# Seaborn Violin Plot - correlation; distribution and density
sns.violinplot(x='TARGET', y='EXT_SOURCE_1', data=application_train)

In [ ]:
# Seaborn Violin Plot - correlation; distribution and density
sns.violinplot(x='TARGET', y='EXT_SOURCE_2', data=application_train)

In [ ]:
# Seaborn Violin Plot - correlation; distribution and density
sns.violinplot(x='TARGET', y='EXT_SOURCE_3', data=application_train)

In [ ]:
application_train.hist(column='EXT_SOURCE_1', # Column to plot
              figsize=(8,8),                  # Plot size
              color="blue"                    # Plot color
              )

In [ ]:
application_train.hist(column='EXT_SOURCE_2', # Column to plot
              figsize=(8,8),                  # Plot size
              color="blue"                    # Plot color
              )

In [ ]:
application_train.hist(column='EXT_SOURCE_3', # Column to plot
              figsize=(8,8),                  # Plot size
              color="blue"                    # Plot color
              )

In [ ]:
# https://gist.github.com/ltfschoen/4c5d2cf26b8be5355043273493a6b8b9#file-proportions_of_missing_data_in_dataframe_columns-py
def get_percentage_missing(series):
    """ Calculates percentage of NaN values in DataFrame
    :param series: Pandas DataFrame object
    :return: float
    """
    num = series.isnull().sum()
    den = len(series)
    return round(num / den, 2)

In [ ]:
get_percentage_missing(application_train['EXT_SOURCE_1'])

In [ ]:
get_percentage_missing(application_train['EXT_SOURCE_2'])

In [ ]:
get_percentage_missing(application_train['EXT_SOURCE_3'])

In [ ]:
# # https://datascience.stackexchange.com/questions/12645/how-to-count-the-number-of-missing-values-in-each-row-in-pandas-dataframe
# # Count of Missing Values per Column
# df.isnull().sum(axis=0)
# # Count of Missing Values per Row
# df.isnull().sum(axis=1)

In [ ]:
# https://towardsdatascience.com/the-tale-of-missing-values-in-python-c96beb0e8a9d
# If the missing value isn’t identified as NaN , then we have to first convert or replace such non NaN entry with a NaN.
data_name[‘column_name’].replace(0, np.nan, inplace= True)

In [ ]:
# https://gist.github.com/ltfschoen/4c5d2cf26b8be5355043273493a6b8b9#file-proportions_of_missing_data_in_dataframe_columns-py
df = application_train
# Only include columns that contain any NaN values
df_with_any_null_values = df[df.columns[df.isnull().any()].tolist()]

get_percentage_missing(df_with_any_null_values)

# Iterate over columns in DataFrame and delete those with where >30% of the values are null/NaN
for name, values in df_with_any_null_values.iteritems():
    # print("%r: %r" % (name, values))
    if get_percentage_missing(df_with_any_null_values[name]) > 0.30:
        print("Deleting Column %r: " % (name))
        # df_with_any_null_values.drop(name, axis=1, inplace=True)

In [ ]:
plt.figure(figsize=(12,5))
plt.title("Distribution of EXT_SOURCE_1")
ax = sns.distplot(application_train["EXT_SOURCE_1"].dropna())

In [ ]:
plt.figure(figsize=(12,5))
plt.title("Distribution of EXT_SOURCE_2")
ax = sns.distplot(application_train["EXT_SOURCE_2"].dropna())

In [ ]:
plt.figure(figsize=(12,5))
plt.title("Distribution of EXT_SOURCE_3")
ax = sns.distplot(application_train["EXT_SOURCE_3"].dropna())

In [ ]:
application_train['EXT_SOURCE_AVG'] = application_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)

In [ ]:
plt.figure(figsize=(12,5))
plt.title("Distribution of EXT_SOURCE_AVG")
ax = sns.distplot(application_train["EXT_SOURCE_AVG"].dropna())

In [ ]:
# https://stackoverflow.com/questions/35277075/python-pandas-counting-the-occurrences-of-a-specific-value
#df.loc[df.education == '9th', 'education'].count()
#(df.education == '9th').sum()
#df.query('education == "9th"').education.count()

In [ ]:
application_train.loc[application_train.EXT_SOURCE_1 == 0.0, 'EXT_SOURCE_1'].count()

In [ ]:
application_train.loc[application_train.EXT_SOURCE_2 == 0.0, 'EXT_SOURCE_2'].count()

In [ ]:
application_train.loc[application_train.EXT_SOURCE_3 == 0.0, 'EXT_SOURCE_3'].count()

In [ ]:
application_train['EXT_SOURCE_1'].value_counts()

In [ ]:
application_train['EXT_SOURCE_2'].value_counts()

In [ ]:
application_train['EXT_SOURCE_3'].value_counts()
# application_train['EXT_SOURCE_3'].value_counts()[:20]
# # ValueError: index must be monotonic increasing or decreasing

In [ ]:
application_train['EXT_SOURCE_1'].describe()

In [ ]:
application_train['EXT_SOURCE_2'].describe()

In [ ]:
application_train['EXT_SOURCE_3'].describe()

In [ ]:
application_train['EXT_SOURCE_1'].plot(kind='hist', bins=[0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0])

In [ ]:
application_train['EXT_SOURCE_1'].plot(kind='hist', bins=[0.0,0.2,0.4,0.6,0.8,1.0])

In [ ]:
application_train['EXT_SOURCE_2'].plot(kind='hist', bins=[0.0,0.2,0.4,0.6,0.8,1.0])

In [ ]:
application_train['EXT_SOURCE_3'].plot(kind='hist', bins=[0.0,0.2,0.4,0.6,0.8,1.0])

In [ ]:
# https://community.modeanalytics.com/python/tutorial/python-histograms-boxplots-and-distributions/
bin_values = np.arange(start=0, stop=1, step=0.2)
us_mq_airlines_index = application_train['TARGET'].isin(['US','MQ']) # create index
us_mq_airlines = application_train[us_mq_airlines_index] # select rows
group_carriers = us_mq_airlines.groupby('TARGET')['EXT_SOURCE_1'] # group values
group_carriers.plot(kind='hist', bins=bin_values, figsize=[12,6], alpha=.4, legend=True) # alpha for transparency

In [ ]:
application_train['EXT_SOURCE_1'].plot(kind='box', figsize=[16,8])

In [ ]:
application_train['EXT_SOURCE_2'].plot(kind='box', figsize=[16,8])

In [ ]:
application_train['EXT_SOURCE_3'].plot(kind='box', figsize=[16,8])

In [ ]:
# Define a function to create the scatterplot. This makes it easy to
# reuse code within and across notebooks
def scatterplot(x_data, y_data, x_label, y_label, title):

    # Create the plot object
    _, ax = plt.subplots()

    # Plot the data, set the size (s), color and transparency (alpha) of the points
    ax.scatter(x_data, y_data, s = 30, color = '#539caf', alpha = 0.75)

    # Label the axes and provide a title
    ax.set_title(title)
    ax.set_xlabel(x_label)
    ax.set_ylabel(y_label)

In [ ]:
## Call the function to create plot
#scatterplot(x_data = daily_data['temp']
#            , y_data = daily_data['cnt']
#            , x_label = 'Normalized temperature (C)'
#            , y_label = 'Check outs'
#            , title = 'Number of Check Outs vs Temperature')

In [ ]:
# Call the function to create plot
scatterplot(x_data = application_train['EXT_SOURCE_1']
            , y_data = application_train['EXT_SOURCE_2']
            , x_label = 'EXT_SOURCE_1'
            , y_label = 'EXT_SOURCE_2'
            , title = 'EXT_SOURCE_1 vs. EXT_SOURCE_2'
           )

In [ ]:
# Call the function to create plot
scatterplot(x_data = application_train['EXT_SOURCE_1']
            , y_data = application_train['EXT_SOURCE_3']
            , x_label = 'EXT_SOURCE_1'
            , y_label = 'EXT_SOURCE_2'
            , title = 'EXT_SOURCE_1 vs. EXT_SOURCE_3'
           )

In [ ]:
# Call the function to create plot
scatterplot(x_data = application_train['EXT_SOURCE_2']
            , y_data = application_train['EXT_SOURCE_3']
            , x_label = 'EXT_SOURCE_2'
            , y_label = 'EXT_SOURCE_3'
            , title = 'EXT_SOURCE_2 vs. EXT_SOURCE_3'
           )

In [ ]:
application_train__ext_source_1__dropna = application_train.loc[:,['EXT_SOURCE_1','TARGET']]
application_train__ext_source_1__dropna.dropna(inplace = True)
scipy.stats.pointbiserialr(application_train__ext_source_1__dropna['EXT_SOURCE_1'], application_train__ext_source_1__dropna['TARGET'])

In [ ]:
application_train__ext_source_2__dropna = application_train.loc[:,['EXT_SOURCE_2','TARGET']]
application_train__ext_source_2__dropna.dropna(inplace = True)
scipy.stats.pointbiserialr(application_train__ext_source_2__dropna['EXT_SOURCE_2'], application_train__ext_source_2__dropna['TARGET'])

In [ ]:
application_train__ext_source_3__dropna = application_train.loc[:,['EXT_SOURCE_3','TARGET']]
application_train__ext_source_3__dropna.dropna(inplace = True)
scipy.stats.pointbiserialr(application_train__ext_source_3__dropna['EXT_SOURCE_3'], application_train__ext_source_3__dropna['TARGET'])

In [ ]:
scipy.stats.pearsonr(application_train__ext_source_1__dropna['EXT_SOURCE_1'], application_train__ext_source_1__dropna['TARGET'])

In [ ]:
scipy.stats.pearsonr(application_train__ext_source_2__dropna['EXT_SOURCE_2'], application_train__ext_source_2__dropna['TARGET'])

In [ ]:
scipy.stats.pearsonr(application_train__ext_source_3__dropna['EXT_SOURCE_3'], application_train__ext_source_3__dropna['TARGET'])

In [ ]:
np.corrcoef(application_train__ext_source_1__dropna['EXT_SOURCE_1'], application_train__ext_source_1__dropna['TARGET'])

In [ ]:
np.corrcoef(application_train__ext_source_2__dropna['EXT_SOURCE_2'], application_train__ext_source_2__dropna['TARGET'])

In [ ]:
np.corrcoef(application_train__ext_source_3__dropna['EXT_SOURCE_3'], application_train__ext_source_3__dropna['TARGET'])

In [ ]:
temp = previous_application["NAME_CONTRACT_TYPE"].value_counts()
fig = {
  "data": [
    {
      "values": temp.values,
      "labels": temp.index,
      "domain": {"x": [0, .48]},
      #"name": "Types of Loans",
      #"hoverinfo":"label+percent+name",
      "hole": .7,
      "type": "pie"
    },
    
    ],
  "layout": {
        "title":"Contract product type of previous application",
        "annotations": [
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "Contract product type",
                "x": 0.12,
                "y": 0.5
            }
            
        ]
    }
}
iplot(fig, filename='donut')

# Pearson Correlation of features

In [ ]:
data = [
    go.Heatmap(
        z=application_train.corr().values,
        x=application_train.columns.values,
        y=application_train.columns.values,
        colorscale='Viridis',
        reversescale = False,
        text = True ,
        opacity = 1.0 )
]

layout = go.Layout(
    title='Pearson Correlation of features',
    xaxis = dict(ticks='', nticks=36),
    yaxis = dict(ticks='' ),
    width = 900, height = 700,
margin=dict(
    l=240,
),)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='labelled-heatmap')

# Multicollinearity
https://stackoverflow.com/questions/25676145/capturing-high-multi-collinearity-in-statsmodels/44012251#44012251
https://stackoverflow.com/questions/25676145/capturing-high-multi-collinearity-in-statsmodels/25833792#25833792
https://onlinecourses.science.psu.edu/stat501/node/347/

In [ ]:
## https://stackoverflow.com/questions/25676145/capturing-high-multi-collinearity-in-statsmodels/44012251#44012251
##...looking for a single number that captured the collinearity
##...options include the determinant and condition number of the correlation matrix
##...determinant of the correlation matrix will "range from 0 (Perfect Collinearity) to 1 (No Collinearity)"

In [ ]:
# Compute correlation matrices
pearson_product_moment_correlation_coefficients = np.corrcoef(application_train, rowvar=0)
## https://docs.scipy.org/doc/numpy/reference/generated/numpy.corrcoef.html
## Return Pearson product-moment correlation coefficients.

In [ ]:
# Compare the determinants
print np.linalg.det(pearson_product_moment_correlation_coefficients)

In [ ]:
# the condition number of the covariance matrix will approach infinity with perfect linear dependence
print np.linalg.cond(pearson_product_moment_correlation_coefficients)

In [ ]:
application_train.info()

In [ ]:
application_train.info(memory_usage='deep')

In [ ]:
application_train.memory_usage()

In [ ]:
application_train.memory_usage(index=False)

In [ ]:
# https://towardsdatascience.com/automated-feature-engineering-in-python-99baf11cc219
# Group loans by client id and calculate mean, max, min of loans
stats = loans.groupby('client_id')['loan_amount'].agg(['mean', 'max', 'min'])
stats.columns = ['mean_loan_amount', 'max_loan_amount', 'min_loan_amount']

# Merge with the clients dataframe
stats = clients.merge(stats, left_on = 'client_id', right_index=True, how = 'left')

stats.head(10)